/Applications
/Code
/Desktop/
/Documents/
/Downloads
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures
/Projects
/Public/
/Sites/
/tmp
/.CFUserTextEncoding
/.DS_Store
/.RSA/
/.Trash/
/.Xauthority
/.android/
/.bash_history
/.bash_login
/.bash_logout
/.bash_profile
/.bashrc
/.bundler/
/.cache/
/.coffee_history
/.config/
/.cups/
/.dbus/
/.dmrc
/.done.txt
/.dotfiles/
/.dropbox/
/.env/
/.exercism
/.fontconfig/
/.gem/
/.gitk
/.heroku/
/.install4j
/.irb-history
/.irb_history
/.jenkins/
/.kde4/
/.lein/
/.lesshst
/.local/
/.m2/
/.mail/
/.msvn/
/.mutt/temp
/.mysql_history
/.netrc
/.npm/
/.oh-my-zsh/
/.pip/
/.pki/
/.pry_history
/.psql_history
/.pulse-cookie
/.pulse/
/.puppet/
/.rbenv/
/.rdebug_hist
/.rediscli_history
/.report.txt
/.rnd
/.rvm
/.rvm/
/.sh_history
/.smartbear/
/.sqlite_history
/.ssh/
/.subversion
/.todo.txt*
/.vagrant.d/
/.vim/.backup/*
/.vim/.netrwhist
/.vim/backup/*
/.vim/tmp
/.viminfo
/.xsession-errors
/.zcompdump
/.zlogin
/.zsh/.zcomdump
/.zsh/.zcompdump
/.zsh/functions/prompt_grb_setup
/.zsh/history.*
/.zsh_history
