/Applications
/Code
/Downloads
/Desktop/
/Documents/
/Library/
/Movies/
/Music/
/Pictures
/Public/
/Sites/
/simplenotestest.properties
/tmp
/.zsh/history.*
/.zsh/.zcomdump
/.rvm
/.subversion
/.viminfo
/.CFUserTextEncoding
/.DS_Store
/.Trash/
/.android/
/.bash_history
/.bash_login
/.bashrc
/.cups/
/.dotfiles/
/.gem/
/.heroku/
/.lesshst
/.m2/
/.oh-my-zsh/
/.ssh/
/.vim/.netrwhist
/.vim/backup/
/.zcompdump
/.zsh/.zcompdump
/.zsh/functions/prompt_grb_setup
/.zsh/functions/zgitinit
/.zsh_history

