.venv
home/dot_config/nvim/lazy-lock.json
home/dot_emacs.d/elpaca/
home/dot_emacs.d/eln-cache/
home/dot_emacs.d/auto-save-list/
home/dot_emacs.d/history
home/dot_emacs.d/recentf
home/dot_emacs.d/places
home/dot_emacs.d/project-list
home/dot_emacs.d/tramp
home/dot_emacs.d/url/
home/dot_emacs.d/network-security.data
home/dot_emacs.d/transient/
home/dot_emacs.d/tree-sitter/
home/dot_emacs.d/forge-database.sqlite
home/dot_emacs.d/eshell/history
home/dot_emacs.d/.emacs.desktop
home/dot_emacs.d/.emacs.desktop.lock
home/dot_emacs.d/**/*.elc
home/dot_emacs.d/**/*.eln
home/dot_emacs.d/**/*.tmp
home/dot_emacs.d/**/.#*
home/dot_emacs.d/**/#*#
home/dot_emacs.d/**/*~
home/dot_emacs.d/auto-save
home/dot_emacs.d/backups
home/dot_emacs.d/user-lisp/dot_user-lisp-autoloads.el
