[user]
    email = codemattr@gmail.com
    name = Matt Rogers

[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:

[url "https://github.com/"]
    insteadOf = github:
[url "git@github.com:"]
    pushInsteadOf = github:

[url "git@github.com:mattr-/"]
    insteadOf = mattr:
    pushInsteadOf = mattr:

[url "git@github.com:TracksApp/"]
    insteadOf = tracks:
    pushInsteadOf = tracks:

[url "git@github.com:dallasrb/"]
    insteadOf = dallasrb:
    pushInsteadOf = dallasrb:

[commit]
    verbose = true

[diff]
[color]
    ui = auto

[alias]
    aa = add --all
    aacip = "!git aa && git ci && git push"
    aia = add --intent-to-add
    di = diff
    dic = diff --cached
    head = !git l -1
    st = status -sb
    stuno = status -uno
    co = checkout
    cob = checkout -b
    ci = commit
    cp = cherry-pick
    cane = commit --amend --no-edit
    ff = merge --ff-only
    pff = pull --ff-only
    last = !git l -1
    last10 = !git l -10
    l = "!source ~/.githelpers && pretty_git_log"
    la = !git l --all
    sm = submodule
    bd = branch -d
    bdd = branch -D
    b = branch
    ba = branch -a
    dc = diff --cached
    undo = "!source ~/.githelpers && undo_local_changes"
    sdcp = "!source ~/.githelpers && dryrun_dcommit_with_patch"
    sdc = svn dcommit
    srf = symbolic-ref HEAD
    t = tag
    td = tag -d
    count = shortlog -sn
    credit = "!source ~/.githelpers && change_author"
    rv = remote -v
    pullr = pull --rebase --stat
    ssp = stash show -p
    sl = stash list
    sa = stash apply
    r = !GIT_NO_PAGER=1 git l -30
    ra = !git r --all

[core]
    excludesfile = /opt/boxen/config/git/gitignore
[hub]
    protocol = https
[push]
    default = current

[credential]

[github]
	user = mattr-
[credential]
	helper = osxkeychain
