[user]
	email = mattrogers@sbcglobal.net
    name = Matt Rogers

[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:

[url "git://github.com/"]
    insteadOf = github:
[url "git@github.com:"]
    pushInsteadOf = github:

[diff]
[color]
    ui = auto

[alias]
    aa = add --all
    di = diff 
    head = !git l -1
    st = status
    stuno = status -uno
    co = checkout
    ci = commit
    ff = merge --ff-only
    pff = pull --ff-only 
    last = !git l -1
    l = log --graph --abbrev-commit --date=relative
    la = !git l --all
    sm = submodule
    bd = branch -d
    b = branch
    dc = diff --cached

[format]
    pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset


[core]
    excludesfile = ~/.cvsignore
