{{- $codespaces := env "CODESPACES" | not | not -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
  codespaces = {{ $codespaces }}
  osid = {{ $osID | quote }}

# vim: ft=toml
