'exception-reporting':
  'userId': '49dbdb4e-272b-72af-6f04-24830238a51e'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '3df0633a04f638d27fc96e27de32be0ee9feed66'
'editor':
  'fontSize': 13
  'showInvisibles': true
  'fontFamily': '\'M+ 1mn\''
'core':
  'themes': [
    'atom-light-ui'
    'base16-tomorrow-dark-theme'
  ]
  'projectHome': '/Users/matt/Code'
  'useReactEditor': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
