#!/usr/bin/env ruby
#
# We want to run this anytime .tool-versions changes so that the tools update automatically
# .tool-versions hash: {{ include "dot_tool-versions" | sha256sum }}
tool_versions_file = File.join(Dir.home, ".tool-versions")
tool_versions = File.read(tool_versions_file).split("\n").map { |entry| entry.split(" ") }

installed_plugins = `$HOME/.local/bin/mise plugin list`
installed_plugins = installed_plugins.chomp.split("\n")

tool_versions.each do |entry|
  language = entry.shift
  if !installed_plugins.include?(language)
    puts "Installing mise plugin for #{language}"
    `$HOME/.local/bin/mise -y plugin add #{language}`
  else
    puts "Updating mise plugin for #{language}"
    `$HOME/.local/bin/mise -y plugin update #{language}`
  end
end
