{{ $os := "linux" -}}
{{ if eq .chezmoi.os "darwin" -}}
{{   $os = "macos" -}}
{{ end -}}

#!/bin/bash

set -eo pipefail

if [ ! -e $HOME/.local/bin/mise ]
then
  curl https://mise.jdx.dev/mise-latest-{{ $os }}-{{ .chezmoi.arch }} > ~/.local/bin/mise
fi
