* {
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
    padding-top: 1px;
    padding-bottom: 1px;
}

#workspaces button {
    padding: 5px;
    color: #555869;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b;
    border-radius: 10px;
}

#window,
#workspaces,
#clock,
#network,
#bluetooth,
#wireplumber,
#power-profiles-daemon,
#battery,
#tray,
#backlight {
    background: #1e1e2e;
    padding: 5px 10px;
    border: none;
    border-radius: 0px;
}

#network {
    border-radius: 0px 0px 0px 8px;
}

#tray {
    border-radius: 0px 0px 8px 0px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
}

#clock {
    color: #a6adc8;
    border-radius: 0px 0px 10px 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#network {
    color: #a6adc8;
}

#wireplumber {
    color: #a6adc8;
    border-left: 0px;
    border-right: 0px;
    border: none;
    border-radius: 0px;
}

#wireplumber.microphone {
    color: #a6adc8;
    border-left: 0px;
    border-right: 0px;
}

#power-profiles-daemon {
    color:#a6adc8;
    border: none;
    border-radius: 0px;
}

#battery {
  border: none;
  border-radius: 0px;
}

